<div class="sidenav-header" *ngIf="contact">
  <mat-toolbar class="accent">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>Contact Info333</div>

      <button mat-icon-button fuseMatSidenavToggler="figma-right" aria-label="close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="toolbar-bottom" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="contact.avatar" class="avatar contact-avatar huge" alt="{{ contact.name }}" />
      <div class="contact-name my-8">{{ contact.name }}22</div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="sidenav-content py-32 px-24" fxFlex fxLayout="column" *ngIf="contact">
  <div class="secondary-text mb-8">Moodxx111</div>
  <div>{{ contact.mood }}</div>
</div>
