:host {
  .folded:not(.unfolded) & {
    .nav-link {
      > .nav-link-title,
      > .nav-link-badge {
        opacity: 0;
        transition: opacity 200ms ease;
      }
    }
  }

 /*  .figma {
    color: white;
    background-color: #1A6B93;
  } */
}
