<div id="product" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <div class="h2" *ngIf="pageType === 'new'" translate>EMPLOYEE.NEW_EMPLOYEE</div>
          <div class="subtitle secondary-text">
            <span translate>COMMON.EMPLOYEE</span>
          </div>
        </div>
      </div>
    </div>
    <div class="horizontal-stepper-wrapper">
      <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true" #stepper>
        <mat-step [stepControl]="horizontalStepperStep1">
          <form fxLayout="column" [formGroup]="horizontalStepperStep1">
            <ng-template matStepLabel
              ><span translate>COMMON.FILL_BASIC_INFORMATION</span></ng-template
            >

            <div class="offline-switch w-100-p mobile-toggle pb-20">
              <mat-slide-toggle
                formControlName="isMobileAppEnabled"
                ngDefaultControl
                labelPosition="before"
                ><span translate>COMMON.TOGGLE_MOBILE_APP_ENABLED</span>
              </mat-slide-toggle>
            </div>

            <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>COMMON.EMAIL</mat-label>
                <input matInput formControlName="email" />
                <mat-icon matSuffix class="secondary-text">email</mat-icon>
                <mat-error translate> COMMON.EMAIL_ERR </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label
                  >Date {{ 'EMPLOYEE.PERMANENT' | translate }} ({{
                    'COMMON.OPTIONAL' | translate
                  }})</mat-label
                >
                <input
                  matInput
                  [matDatepicker]="permanentDatePicker"
                  formControlName="tenurePermanent"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="permanentDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #permanentDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.REGISTRATION_NUMBER</mat-label>
                <input
                  matInput
                  formControlName="matricule"
                  (ngModelChange)="onChangeMatricule($event)"
                  required
                />
                <mat-icon matSuffix class="secondary-text">assignment_ind</mat-icon>
                <mat-error> {{ errorMatricule | translate }} </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label>{{ 'COMMON.LOCATION' | translate }}</mat-label>
                <mat-select
                  [formControl]="locationsFormControl"
                  multiple
                  required
                  placeholder="{{ 'COMMON.LOCATION' | translate }}"
                  floatlLabel="never"
                  (selectionChange)="onLocationSelectedChange($event)"
                >
                  <mat-select-trigger>
                    <span *ngFor="let locName of locationsSelectedName"></span>
                    {{ locationsFormControl.value ? locationsSelectedName[0] : 'xxxxx' }}
                    <span
                      *ngIf="locationsFormControl.value?.length > 1"
                      class="additional-selection"
                    >
                      (+{{ locationsFormControl.value.length - 1 }}
                      {{ locationsFormControl.value?.length === 2 ? 'other' : 'others' }})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let location of locationSelections" [value]="location.id">{{
                    location.name
                  }}</mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">ballot</mat-icon>
                <mat-error translate>COMMON.LOCATION_ERR</mat-error>
              </mat-form-field>
            </div>

            <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>COMMON.FIRST_NAME</mat-label>
                <input matInput formControlName="first" required />
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error translate> COMMON.FIRST_ERR </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>COMMON.LAST_NAME</mat-label>
                <input matInput formControlName="last" required />
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error translate> COMMON.LAST_ERR </mat-error>
              </mat-form-field>
            </div>

            <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.EMPLOYEE_TYPE</mat-label>
                <mat-select formControlName="type" required>
                  <mat-option *ngFor="let type of types; let i = index" [value]="type">{{
                    types[i] | translate
                  }}</mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
                <mat-error translate>EMPLOYEE.EMPLOYEE_TYPE_ERR</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.CLASSES</mat-label>
                <mat-select formControlName="class" required>
                  <mat-option *ngFor="let class of classes" [value]="class">{{ class }}</mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">ballot</mat-icon>
                <mat-error translate>EMPLOYEE.CLASS_ERR</mat-error>
              </mat-form-field>
            </div>

            <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.EMPLOYMENT_DATE</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="hireDateStart" />
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error translate>EMPLOYEE.EMPLOYMENT_DATE_ERR</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.REGION</mat-label>
                <mat-select formControlName="region" required>
                  <mat-option *ngFor="let region of regions" [value]="region">{{
                    region | titlecase
                  }}</mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">ballot</mat-icon>
                <mat-error translate>EMPLOYEE.REGION_ERR</mat-error>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                mat-raised-button
                matStepperNext
                type="button"
                color="accent"
                (click)="checkInvalidControls()"
              >
                <span translate>COMMON.NEXT</span>
              </button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="horizontalStepperStep2">
          <form fxLayout="column" [formGroup]="horizontalStepperStep2">
            <ng-template matStepLabel><span translate>EMPLOYEE.STEP2</span></ng-template>
            <div class="dates" fxFlexFill fxLayout="column" fxLayout.gt-xs="row">
              <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                <mat-label translate>EMPLOYEE.SUGGESTED_TIMES</mat-label>
                <mat-select
                  [formControl]="singleLocationControl"
                  (selectionChange)="onLocationSelectedForTimeChange($event)"
                >
                  <mat-option
                    *ngFor="let location of singleLocationSelections"
                    [value]="location.id"
                    >{{ location.name }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix class="secondary-text">ballot</mat-icon>
              </mat-form-field>
            </div>
            <div
              *ngIf="!!singleLocationSelected && singleLocationSelected !== ''"
              [formArrayName]="singleLocationSelected"
            >
              <div
                [formArrayName]="i"
                *ngFor="let item of locationFormArray.controls; let i = index"
              >
                <div [formArrayName]="y" *ngFor="let itemY of days; let y = index">
                  <div class="dates" fxLayout="column" fxLayout.gt-xs="row">
                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label
                        >{{ days[y] | translate }} -
                        {{ 'COMMON.START_TIME' | translate }}</mat-label
                      >
                      <input matInput formControlName="timeStart" type="time" />
                      <mat-error translate=""> COMMON.START_ERR </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                      <mat-label
                        >{{ days[y] | translate }} - {{ 'COMMON.END_TIME' | translate }}</mat-label
                      >
                      <input matInput formControlName="timeEnd" type="time" />
                      <mat-error translate> COMMON.END_ERR </mat-error>
                    </mat-form-field>
                    <div>
                      <button
                        *ngIf="!!!times[y].isSelectorOpen"
                        mat-raised-button
                        color="accent"
                        class="add mt-16 mr-12"
                        (click)="
                          onClickToggleAddView({
                            index: y
                          })
                        "
                      >
                        +
                      </button>
                      <button
                        *ngIf="times[y].isSelectorOpen"
                        mat-raised-button
                        color="warn"
                        class="add mt-16 mr-12"
                        (click)="
                          onClickToggleAddView({
                            index: y
                          })
                        "
                      >
                        -
                      </button>
                    </div>
                  </div>
                  <div
                    *ngIf="!!times[y].isSelectorOpen"
                    class="dates"
                    fxFlexFill
                    fxLayout="column"
                    fxLayout.gt-xs="row"
                  >
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                      <mat-label
                        >{{ days[y] | translate }} -
                        {{ 'COMMON.START_TIME' | translate }}</mat-label
                      >
                      <input matInput formControlName="timeStartSub" type="time" />
                      <mat-error translate> COMMON.START_ERR </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
                      <mat-label
                        >{{ days[y] | translate }} - {{ 'COMMON.END_TIME' | translate }}</mat-label
                      >
                      <input matInput formControlName="timeEndSub" type="time" />
                      <mat-error translate> COMMON.END_ERR </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center">
              <button
                class="mr-8"
                mat-raised-button
                matStepperPrevious
                type="button"
                color="accent"
              >
                <span translate>COMMON.PREVIOUS</span>
              </button>
              <button mat-raised-button matStepperNext type="button" color="accent">
                <span translate>COMMON.NEXT</span>
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel><span translate>COMMON.COMPLETED</span></ng-template>

          <div
            *ngIf="!success"
            class="h2 m-16"
            fxLayout="row"
            fxLayoutAlign="center center"
            translate
          >
            COMMON.CREATE_MSG
          </div>

          <div
            *ngIf="!!success"
            class="h2 m-16"
            fxLayout="row"
            fxLayoutAlign="center center"
            translate
          >
            COMMON.SUCCESS_MSG
          </div>

          <div *ngIf="!!error" class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
            <span appearance="outline" floatLabel="always" class="w-100-p" class="h-100-p warn-600"
              >Oooops! Something went wrong. Please try again later&nbsp;</span
            >
            <br />
            <span class="h-100-p warn-600">{{ error | json }}</span>
          </div>

          <div *ngIf="!success" fxLayout="row" fxLayoutAlign="center center">
            <button
              class="mr-8"
              mat-raised-button
              matStepperPrevious
              type="button"
              color="accent"
              (click)="onClickPrevious()"
            >
              <span translate>COMMON.PREVIOUS</span>
            </button>
            <button mat-raised-button type="button" color="accent" (click)="addEmployee()">
              <span translate>COMMON.CREATE</span>
            </button>
          </div>
          <div *ngIf="!!success" fxLayout="row" fxLayoutAlign="center center">
            <button
              mat-raised-button
              type="button"
              color="accent"
              (click)="stepper.reset(); reset()"
            >
              <span translate>COMMON.CREATE_ANOTHER</span>
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
