<div class="subtitle">
  <div id="french">
    <div class="maintitle">LICENCE D'UTILISATION DU LOGICIEL G-LINK</div>
    <a fragment="english" (click)="navigateToSection('english')"> English Version</a>
    <p>
      Ce document régit votre accès et votre utilisation des logiciels G-Link accessibles via Web,
      qui peuvent inclure des fichiers associés, de la documentation et des informations imprimées
      et électroniques (individuellement et collectivement, «<b>Logiciel G-Link</b>») fournis par
      9349-7212 QUÉBEC INC., faisant affaires sous la raison sociale G-Link (ci-après dénommée
      «<b>G-Link</b>») en tant qu'utilisateur (ci-après dénommé «<b>vous</b>» ou
      «<b>Utilisateur</b>») directement ou via un franchisé, licencié ou autre personne qui a obtenu
      le droit de le faire auprès de G-Link (ci-après dénommés un «<b>Distributeur</b>»).
    </p>
    <p>
      Le Distributeur n’est pas propriétaire du Logiciel G-Link et son utilisation par vous est
      soumise à certains devoirs et limitations dont le Distributeur doit vous informer. Votre droit
      d'accès et d'utilisation du Logiciel G-Link est soumis aux termes de votre accord avec le
      Distributeur, et à votre compréhension, à votre conformité et à votre consentement aux termes
      et conditions suivants, que le Distributeur n'a pas le pouvoir de modifier, renoncer ou
      autrement altérer.
    </p>
    <p class="title">1. DÉFINITIONS.</p>
    <p class="mt-0">
      «<b>Informations Confidentielles</b>» désigne les informations techniques, scientifiques,
      marketing et commerciales secrètes ou exclusives relatives aux activités de G-Link et à celles
      de ses Affiliés, y compris, mais sans s'y limiter, les états financiers, les projections
      financières et les budgets, les ventes historiques et projetées, les budgets de dépenses en
      capital et plans, informations sur les coûts, abonnements, idées, conceptions, concepts,
      projets, politiques, propositions, plans, plans d'affaires, opportunités commerciales,
      politiques de prix, plans et stratégies de marketing, techniques ou plans de développement de
      produits, plans d'acquisition d'entreprise, contrats, programmes, algorithmes, logiciels (code
      source, code objet et documentation connexe pour les programmeurs et les utilisateurs),
      informations sur la recherche et le développement, résultats, fiches, données, bases de
      données, feuilles de calcul, compilations, dessins, modèles, croquis, diagrammes, manuels (y
      compris les manuels et instructions d'utilisation et de support), spécifications, devis, mises
      en page, organigrammes, compositions, listes d'ingrédients, molécules, composés de tout
      nature, recettes, formules, systèmes, méthodes, procédures, procédés, techniques, découvertes,
      technologies, inventions, logos, abonnements, noms des produits et services, slogans,
      graphismes, œuvres artistiques, littéraires, musicales ou autres, les noms, qualifications et
      les exigences des fournisseurs, employés, distributeurs, utilisateurs, clients, partenaires et
      associés ainsi que d'autres informations techniques et commerciales, qu'elles soient ou non
      brevetables, protégées par le droit d'auteur ou autrement protégeables en tant que propriété
      intellectuelle et quelle que soit la forme qu'elles peuvent prendre (numérique, analogique ou
      matérielle), y compris les fichiers, e-mails, listes, rapports, actes, dessins, modèles,
      prototypes, disques, puces mémoire, DVD ou autres documents ou objets similaires. Pour plus de
      clarté, chaque composante des Logiciels G-Link, est considérée comme étant des Informations
      Confidentielles de G-Link.
    </p>
    <p>
      «<b>Périphérique</b>» désigne chacun des ordinateurs, postes de travail, terminaux, tablettes,
      assistants numériques personnels, téléphones intelligents, serveurs ou tout autre matériel à
      partir duquel le Logiciel G-Link peut être consulté et utilisé.
    </p>
    <p>
      «<b>Utilisateur</b>» désigne toute personne physique ou morale qui obtient l'accès au Logiciel
      G-Link auprès du Licencié ou ’un Distributeur ou directement de G-Link.
    </p>
    <p class="title">2. PROPRIÉTÉ.</p>
    <p class="mt-0">
      Le Logiciel G-Link est protégé par les droits d'auteur et autres droits de propriété
      intellectuelle partout dans le monde. Le Logiciel G-Link et les autres éléments incorporés ou
      utilisés en relation avec celui-ci, y compris, mais sans s'y limiter, les images,
      photographies, animations, vidéo, audio, musique, scripts, fichiers DLL et textes (les «
      <b>Accessoires</b> ») sont la propriété de G-Link ou de ses fournisseurs. Vous ne pouvez pas
      supprimer, modifier ou masquer les marques de commerce ou autres avis de droits de propriété
      contenus dans ou sur le Logiciel G-Link. Votre possession, accès ou utilisation du Logiciel
      G-Link ou des Accessoires ne vous transfère aucune propriété du Logiciel G-Link, des
      Accessoires ou des droits de propriété intellectuelle y associés.
    </p>
    <p class="title">3. LICENCE.</p>
    <p class="mt-0">
      Vous pouvez accéder et utiliser le Logiciel G-Link via un Périphérique uniquement conformément
      à votre accord avec un Distributeur, le cas échéant et aux termes de cette Licence. Vous devez
      cesser tout accès et utilisation lors de la résiliation ou de l'annulation de votre accord
      avec le Distributeur ou de l’accord du Distributeur avec G-Link.
    </p>
    <p class="title">4. COPIES.</p>
    <p class="mt-0">
      Vous ne pouvez faire aucune copie d'aucune partie du Logiciel G-Link ou de tout Accessoire.
    </p>
    <p class="title">5. CONFIDENTIALITÉ.</p>
    <p class="mt-0">
      Vous acceptez de maintenir la confidentialité des Informations confidentielles de G-Link et de
      ne pas les utiliser à d'autres fins ni de divulguer, directement ou indirectement, une partie
      de celles-ci à quiconque sans l'autorisation écrite préalable de G-Link. Vous devez limiter la
      circulation et la divulgation des Informations confidentielles au sein de votre propre
      organisation à vos employés ou agents ayant un «besoin de connaître» les Informations
      confidentielles aux fins de la présente Licence ou de votre accord avec le Distributeur et
      vous assurer qu'ils sont informés de la propriété et/ou caractère confidentiel de celles-ci et
      qu’ils acceptent de respecter les dispositions de confidentialité et de non- utilisation
      énoncées dans la présente Licence.
    </p>
    <p class="title">6. LIMITATIONS SUR L'INGÉNIERIE INVERSE ET LA DÉCOMPILATION.</p>
    <p class="mt-0">
      Vous ne pouvez pas, directement ou indirectement, procéder à l'ingénierie inverse, décompiler
      ou désassembler le Logiciel G- Link, sauf et uniquement dans la mesure où la loi applicable,
      nonobstant cette limitation, autorise expressément une telle activité mais uniquement dans la
      mesure minimale permises par la loi.
    </p>
    <p class="title">7. PAS DE SOUS-LICENCE.</p>
    <p class="mt-0">
      Vous ne pouvez pas, directement ou indirectement, louer, prêter, donner en gage,
      sous-licencier, transférer ou distribuer le Logiciel G-Link à un tiers, et vous ne pouvez
      autoriser aucun tiers à accéder et/ou utiliser les fonctionnalités du Logiciel G-Link, sauf
      dans le seul but d'accéder aux fonctionnalités du Logiciel G-Link conformément aux termes de
      cette Licence et de tout accord entre vous et un Distributeur.
    </p>
    <p class="title">8. DONNÉES</p>
    <p class="mt-0">
      Les données de l'Utilisateur générées par ou accessibles via le Logiciel G-Link (les «
      <b>Données</b> ») resteront votre propriété unique et exclusive. Vous accordez par la présente
      à G-Link une licence non exclusive, mondiale, perpétuelle, libre de droits, et irrévocable lui
      permettant d’utiliser et copier les Données pour une utilisation en conjonction avec le
      Logiciel G-Link et d’accorder des sous- licences aux fournisseurs de tous autres systèmes ou
      sous-systèmes intégrés ou utilisés conjointement avec le Logiciel G-Link. Nonobstant toute
      disposition contraire contenue dans la présente Licence ou ailleurs, G-Link dispose d'une
      licence non exclusive, mondiale, perpétuelle, libre de droits, sous- licenciable et
      irrévocable pour: (i) utiliser et copier les Données pour créer des ensembles de données à la
      condition qu’elles soient agrégées et anonymisées; (ii) effectuer divers niveaux d'analyse des
      données; (iii) compiler des informations statistiques et autres relatives aux performances, au
      fonctionnement et à l'utilisation de le Logiciel G-Link, et/ou de tout autre système ou
      sous-système intégré ou utilisé conjointement avec le Logiciel G-Link, et peut ( iv) utiliser
      ces informations sous forme agrégée, pour la sécurité, l'analyse et la gestion des opérations,
      pour créer des analyses statistiques et améliorer le Logiciel G-Link, et/ou tout autre système
      ou sous-système intégré ou utilisé en conjonction avec le Logiciel G-Link ou tout matériel
      connexe ou fournir des logiciels, équipements ou services associés, et à des fins de recherche
      et de développement, à condition toutefois que ces utilisations n'incorporent pas les Données
      sous une forme qui pourrait servir à vous identifier.
    </p>
    <p class="title">9. RÉSILIATION.</p>
    <p class="mt-0">
      Sans préjudice de tout autre droit, G-Link et/ou le Distributeur peuvent résilier vos droits
      d’accès et d'utilisation du Logiciel G-Link si vous ne respectez pas ces termes et conditions.
      En cas de résiliation ou d'annulation de votre accord avec un Distributeur, ou de l'accord du
      Distributeur avec G- Link, vous devez cesser d'utiliser et / ou d'accéder au Logiciel G-Link,
      et détruire toutes les copies du Logiciel G-Link et tous ses Accessoires dans les trente (30)
      jours suivant cette résiliation.
    </p>
    <p class="title">10. SUPPORT.</p>
    <p class="mt-0">
      Tout support concernant le Logiciel G-Link, y compris le support sous garantie, vous est
      fourni par le Distributeur ou un tiers en son nom et n'est pas fourni directement par G-Link,
      ses fournisseurs, affiliés ou filiales.
    </p>
    <p class="title">11. PAS TOLÉRANT AUX PANNES.</p>
    <p class="mt-0">
      Le Logiciel G-Link n'est pas tolérant aux pannes et il n'est pas garanti qu'il soit exempt
      d'erreurs ou qu'il fonctionne sans interruption. Vous ne devez pas utiliser le Logiciel G-Link
      dans une application ou une situation où sa défaillance pourrait entraîner la mort ou des
      blessures graves de quiconque, ou des dommages physiques ou environnementaux graves.
    </p>
    <p class="title">12. AUCUNE GARANTIE, RESPONSABILITÉ OU RECOURS CONTRE G-LINK</p>
    <p class="mt-0">
      <em
        >SAUF SI EXPRESSÉMENT EXIGÉ PAR UNE LOI APPLICABLE, G-LINK NE DONNE AUCUNE GARANTIE OU
        REPRÉSENTATION EXPRESSE OU IMPLICITE RELATIVE AUX LOGICIELS G-LINK. DANS LA MESURE MAXIMALE
        AUTORISÉE PAR LES LOIS APPLICABLES, G-LINK EXCLUT TOUTES LES GARANTIES ET CONDITIONS
        IMPLICITES, TELLES QUE LES GARANTIES IMPLICITES DE QUALITÉ MARCHANDE, DE NON-CONTREFAÇON ET
        D'ADÉQUATION À UN USAGE PARTICULIER.</em
      >
      Sans limiter ce qui précède, G-Link décline, dans la mesure permise par la loi applicable,
      toutes les garanties et responsabilités en cas de dommages causés par G-Link ou ses
      fournisseurs pour tous dommages directs ou indirects, découlant de l'accès ou de l'utilisation
      du Logiciel G-Link. Toutes les garanties et responsabilités envers les utilisateurs sont
      fournies uniquement par le Distributeur et non directement par G-Link, ses sociétés affiliées
      ou ses filiales.
    </p>
    <p class="title">13. RESTRICTIONS À L'EXPORTATION.</p>
    <p class="mt-0">
      Le Logiciel G-Link peut être soumis à la juridiction d'exportation des États-Unis.
      L'utilisateur doit se conformer à toutes les lois applicables, y compris les réglementations
      de l'administration américaine des exportations, les réglementations sur le trafic
      international d'armes, ainsi que les restrictions relatives à l'utilisateur final, à
      l'utilisation finale et à la destination émises par les États-Unis et d'autres gouvernements.
    </p>
    <p class="title">14. RESPONSABILITÉ POUR VIOLATION</p>
    <p class="mt-0">
      En plus de toute responsabilité que vous pourriez avoir envers le Distributeur, vous acceptez
      que vous serez également légalement responsable directement envers G-Link pour toute violation
      de ces termes et conditions.
    </p>
    <p class="title">15. DIVULGATION D'INFORMATIONS.</p>
    <p class="mt-0">
      Vous autorisez le Distributeur à divulguer toute information en sa possession demandée par
      G-Link dans le cadre de ses accords avec le Distributeur. G-Link sera un tiers bénéficiaire
      prévu de votre accord avec un Distributeur, avec le droit d'appliquer les dispositions de
      votre accord avec un Distributeur et de vérifier votre conformité avec celui-ci.
    </p>
    <p class="title">16. LOI APPLICABLE.</p>
    <p class="mt-0">
      La présente entente sera régie et interprétée conformément aux lois de la province de Québec
      et aux lois fédérales du Canada qui y sont applicables sans égard aux principes de choix de la
      loi.
    </p>
    <p class="title">17. CHOIX DE JURIDICTION.</p>
    <p class="mt-0">
      L'Utilisateur et G-Link conviennent par la présente que toute action ou procédure visant à
      faire appliquer ou découlant de cet Accord peut être intentée exclusivement, devant les
      tribunaux du district judiciaire de Beauharnois dans la province de Québec. L'Utilisateur
      renonce irrévocablement à toute objection fondée sur le lieu, le forum non conveniens ou tout
      autre motif similaire et consent irrévocablement à la signification de toute procédure par
      courrier ou de toute autre manière autorisée par la loi applicable et consent à la compétence
      des tribunaux de la province de Québec.
    </p>
    <p>
      <span class="agreement"
        >CETTE LICENCE CONTIENT DES LIMITATIONS IMPORTANTES APPLICABLES AU LOGICIEL G-LINK. SOIT EN
        CLIQUANT SUR UNE BOÎTE INDIQUANT VOTRE ACCEPTATION OU EN EXÉCUTANT UN CONTRAT OU UN BON DE
        COMMANDE QUI RÉFÉRENCE AU LOGICIEL G-LINK, VOUS ACCEPTEZ LES TERMES DES PRÉSENTES. SI VOUS
        ÊTES UN REPRÉSENTANT OU UN EMPLOYÉ D'UNE ENTITÉ CONTRACTANT POUR UTILISER OU ACCÉDER AU
        LOGICIEL G-LINK, VOUS DÉCLAREZ ET GARANTISSEZ QUE (I) LA PERSONNE ACCEPTANT CETTE LICENCE
        EST AUTORISÉE À ACCEPTER CETTE LICENCE AU NOM DE CETTE ENTITÉ ET À LIER CETTE ENTITÉ, ET
        (II) CETTE ENTITÉ A PLEIN POUVOIRS POUR CONCLURE CETTE LICENCE ET EXÉCUTER SES OBLIGATIONS
        EN VERTU DES PRÉSENTES. SI VOUS N'ACCEPTEZ PAS CES CONDITIONS, N'ACCÉDEZ PAS OU N'UTILISEZ
        PAS LE LOGICIEL G- LINK.</span
      >
    </p>
  </div>
  <div id="english">
    <div class="maintitle">G-LINK SOFTWARE USER LICENSE</div>
    <a fragment="french" (click)="navigateToSection('french')">French Version</a>
    <p>
      This document governs your access and use of G-Link web based software, which may include
      associated files, printed and online or electronic documentation and information (individually
      and collectively, “<b>G-Link Software</b>”) provided by 9349-7212 QUÉBEC INC., carrying on
      business under the firm name G-Link (hereinafter referred to as “<b>G-Link</b>”) to you as a
      user (hereinafter referred to as “You” or “User”) directly or via a franchisee, licensee or
      other person who obtained the right to do so from G-Link (hereinafter referred to as
      “<b>Distributor</b>”).
    </p>
    <p>
      Distributor does not own the G-Link Software and the use thereof is subject to certain rights
      and limitations of which Distributor must inform you. Your right to access and use the G-Link
      Software is subject to the terms of your agreement with Distributor, if any and to your
      understanding of, compliance with, and consent to the following terms and conditions, which
      Distributor does not have authority to modify, waive, or modify.
    </p>
    <p class="title">1. DEFINITIONS.</p>
    <p class="mt-0">
      “<b>Confidential Information</b>” means secret or exclusive technical, scientific, marketing
      and commercial information relating to G-Link’s business and that of its affiliates,
      including, but not limited to, financial statements, financial projections and budgets,
      historical and projected sales, capital spending budgets and plans, costing information,
      products, ideas, designs, concepts, projects, policies, proposals, plans, business plans,
      business opportunities, pricing policies, marketing plans and strategies, product development
      techniques or plans, business acquisition plans, contracts, programs, algorithms, software
      (source code, object code and related programmer and user documentation), research and
      development information, results, records, data, databases, spreadsheets, compilations,
      drawings, models, sketches, diagrams, manuals (including operations and service manuals),
      specifications, layouts, flowcharts, compositions, lists of ingredients, molecules, compounds
      of any nature, recipes, formulae, systems, methods, procedures, processes, techniques,
      discoveries, technologies, inventions, logos, products, names of products and services,
      slogans, graphics, artistic, literary, musical or other works, the names, qualifications and
      requirements of suppliers, employees, distributors, users, clients, partners and associates as
      well as other technical and commercial information, whether or not patentable, copyrightable,
      or otherwise protectable as intellectual property and whatever the form they may take
      (digital, analog or hard copy), including files, e-mails, lists, reports, proceedings,
      drawings, models, prototypes, disks, memory chips, CD’s, DVD’s, or other documents or similar
      objects. For greater clarity, the G-Link Software is deemed to be G-Link Confidential
      Information.
    </p>
    <p>
      “<b>Device</b>” means each of a computer, workstation, terminal, laptop, personal digital
      assistant, “smart phone,” tablet, server or any other hardware from which the G-Link Software
      can be accessed and used.
    </p>
    <p>
      “<b>User</b>” means an individual or legal entity that obtains access to the G-Link Software
      from a Distributor or directly from G-Link.
    </p>
    <p class="title">2. OWNERSHIP.</p>
    <p class="mt-0">
      The G-Link Software is protected by copyright and other intellectual property rights
      worldwide. The G-Link Software and other elements incorporated or used in relation thereto
      including but not limited to any images, photographs, animations, video, audio, music, script,
      DLL file and text (the “<b>Accessories</b>”) are owned by G-Link or its suppliers. You may not
      remove, modify or obscure any trademark or other proprietary rights notices that are contained
      in or on the G-Link Software. Your possession, access, or use of the G-Link Software or
      Accessories does not transfer any ownership of the G-Link Software, Accessories or any related
      intellectual property rights to you.
    </p>
    <p class="title">3. LICENCE.</p>
    <p class="mt-0">
      You may access and use the G-Link Software via a Device only in accordance with your agreement
      with Distributor, if any, and the terms of this document. You must cease all such access and
      use upon termination or cancellation of this document, your agreement with Distributor or
      Distributor’s agreement with G-Link.
    </p>
    <p class="title">4. COPIES.</p>
    <p class="mt-0">
      You may not make any copies of any portion of the G-Link Software or any Accessories.
    </p>
    <p class="title">5. CONFIDENTIALITY.</p>
    <p class="mt-0">
      You agree to maintain the confidentiality of G-Link’s Confidential Information and not to use
      it for any other purpose or disclose, directly or indirectly, any part thereof to anyone
      without G-Link’s prior written authorization. You shall limit the circulation and disclosure
      of the Confidential Information within your own organization to your employees or agents
      having a “need to know” the Confidential Information for the purposes of this agreement or
      your agreement with the Distributor and to ensure that they are informed of the proprietary
      and/or confidential nature thereof and agree to and are required to observe the provisions of
      confidentiality and non-use set forth herein.
    </p>
    <p class="title">6. LIMITATIONS ON REVERSE ENGINEERING AND DECOMPILATION.</p>
    <p class="mt-0">
      You may not, directly or indirectly, reverse engineer, decompile, or disassemble the G-Link
      Software, except and only to the extent permitted by applicable law, notwithstanding this
      limitation, expressly authorizes such activity, but only to the minimum extent permitted by
      law.
    </p>
    <p class="title">7. NO SUB-LICENSING.</p>
    <p class="mt-0">
      You may not, directly or indirectly, rent, lend, pledge, sub-license, transfer or distribute
      the G-Link Software to any third party, and you may not permit any third party to have access
      to and/or use the functionality of the G-Link Software except for the sole purpose of
      accessing the functionality of the G-Link Software in accordance with the terms of this
      agreement and any agreement between you and Distributor.
    </p>
    <p class="title">8. DATA.</p>
    <p class="mt-0">
      The User’s Data generated by or accessible via the G-Link Software (the “Data”) will remain
      your sole and exclusive property. You hereby grant to G-Link a non-exclusive worldwide,
      perpetual, royalty free and irrevocable right and license to use and copy the Data for use in
      conjunction with the G- Link Software and to grant sub-licences to providers of other systems
      or sub-systems integrated to or used in conjunction with the G-Link Software. Notwithstanding
      anything to the contrary contained in this Agreement or elsewhere, G-Link has a non-exclusive
      worldwide, perpetual, royalty free, sub-licensable and irrevocable right and license to: (i)
      use and copy the Data to create aggregate, anonymized data sets; (ii) perform various levels
      of data analytics; (iii) compile statistical and other information related to performance,
      operation and use of the G-Link Software and/or any other system or sub-system integrated to
      or used in conjunction with the G-Link Software, and may (iv) use such information in
      aggregate form, for security, analysis and operations management, to create statistical
      analyses and improve the G-Link Software and/or any other system or sub-system integrated to
      or used in conjunction with the G-Link Software or any related hardware or to provide related
      software, equipment or services, and for research and development purposes, provided however,
      that such uses will not incorporate the Data in a form that could serve to identify you.
    </p>
    <p class="title">9. TERMINATION.</p>
    <p class="mt-0">
      Without prejudice to any other rights, G-Link, and/or the Distributor may terminate your
      rights to access and use the G-Link Software if you fail to comply with these terms and
      conditions. In the event of termination or cancellation of your agreement with a Distributor
      or Distributor’s agreement with G-Link, you must stop using and/or accessing the G-Link
      Software, and destroy all copies of the G- Link Software and all its Accessories within thirty
      (30) days of such termination.
    </p>
    <p class="title">10. SUPPORT.</p>
    <p class="mt-0">
      Any support for the G-Link Software, including warranty support, is provided to you by the
      Distributor or a third party on its behalf and is not provided directly by G-Link, its
      suppliers, affiliates or subsidiaries.
    </p>
    <p class="title">11. NOT FAULT TOLERANT.</p>
    <p class="mt-0">
      The G-Link Software is not fault-tolerant and is not guaranteed to be error free or to operate
      uninterrupted. You must not use the G-Link Software in any application or situation where its
      failure could lead to death or serious bodily injury of any person, or to severe physical or
      environmental damage.
    </p>
    <p class="title">12. NO WARRANTIES, LIABILITIES OR REMEDIES AGAINST G-LINK.</p>
    <p class="mt-0">
      UNLESS EXPRESSLY REQUIRED
      <em
        >BY APPLICABLE LAW, G-LINK DOES NOT PROVIDE ANY WARRANTY OR REPRESENTATION OF G-LINK
        SOFTWARE EITHER EXPRESS OR IMPLIED. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW,
        G-LINK EXCLUDES ALL IMPLIED WARRANTIES AND CONDITIONS, SUCH AS IMPLIED WARRANTIES OF
        MERCHANTABILITY, NON- INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE.</em
      >
      Without limiting the foregoing, G-Link disclaims, to the extent permitted by applicable law,
      all warranties and liability for damages by G-Link or its suppliers for any direct or indirect
      damages, arising from the access or use of the G-Link Software. Any warranties and liabilities
      to Users are provided solely by Distributor and not directly by G-Link, its affiliates or
      subsidiaries.
    </p>
    <p class="title">13. EXPORT RESTRICTIONS.</p>
    <p class="mt-0">
      The G-Link Software may be subject to U.S. export jurisdiction. User must comply with all
      applicable laws including the U.S. Export Administration Regulations, the International
      Traffic in Arms Regulations, as well as end-user, end-use and destination restrictions issued
      by U.S. and other governments.
    </p>
    <p class="title">14. LIABILITY FOR BREACH.</p>
    <p class="mt-0">
      In addition to any liability you may have to Distributor, you agree that you will also be
      legally responsible directly to G-Link for any breach of these terms and conditions.
    </p>
    <p class="title">15. INFORMATION DISCLOSURE.</p>
    <p class="mt-0">
      You must permit Distributor to disclose any information in its possession requested by G-Link
      under its agreement with Distributor. G-Link will be an intended third- party beneficiary of
      your agreement with Distributor, with the right to enforce provisions of your agreement with
      Distributor and to verify your compliance.
    </p>
    <p class="title">16. APPLICABLE LAW.</p>
    <p class="mt-0">
      This Agreement shall be governed by and construed in accordance with the laws of the Province
      of Québec and the federal laws of Canada applicable therein without regard to any principles
      of choice of law.
    </p>
    <p class="title">17. CHOICE OF JURISDICTION.</p>
    <p class="mt-0">
      The User and G-Link hereby agree that any action or proceeding to enforce or arising out of
      this Agreement may be exclusively commenced, in courts having sites within the Beauharnois
      judicial district in the Province of Quebec. The User irrevocably waives any objection on the
      grounds of venue, forum non-conveniens or any similar grounds and irrevocably consents to
      service of process by mail or in any other manner permitted by applicable law and consents to
      the jurisdiction of the courts of the Province of Quebec.
    </p>
    <p>
      <span class="agreement"
        >THIS AGREEMENT CONTAINS IMPORTANT LIMITATIONS THAT ARE APPLICABLE TO THE G-LINK SOFTWARE.
        EITHER BY CLICKING A BOX INDICATING YOUR ACCEPTANCE OR BY EXECUTING A PURCHASE ORDER THAT
        REFERENCES G-LINK SOFTWARE, YOU AGREE TO THE TERMS HEREIN. IF YOU ARE AN AGENT OR EMPLOYEE
        OF AN ENTITY CONTRACTING TO USE OR ACCESS TO THE G-LINK SOFTWARE, YOU REPRESENT AND WARRANT
        THAT (I) THE INDIVIDUAL ACCEPTING THIS AGREEMENT IS AUTHORIZED TO ACCEPT THIS AGREEMENT ON
        SUCH ENTITY'S BEHALF AND TO BIND SUCH ENTITY, AND (II) SUCH ENTITY HAS FULL POWER TO ENTER
        INTO THIS AGREEMENT AND PERFORM ITS OBLIGATIONS HEREUNDER. IF YOU DO NOT ACCEPT THESE TERMS,
        THEN DO NOT ACCESS OR USE THE G-LINK SOFTWARE.</span
      >
    </p>
  </div>
</div>
