<div class="sidenav-content" fusePerfectScrollbar fxFlex>
  <div *fuseIfOnDom [@animateStagger]="{ value: '50' }">
    <div class="figma-list" fxLayout="column">
      <div div fxLayout="row" fxLayoutAlign="end center" class="toggle">
        <mat-slide-toggle
          ngDefaultControl
          [formControl]="isNotTerminated"
          labelPosition="after"
          ><span translate>COMMON.TOGGLE_ACTIVE</span>
        </mat-slide-toggle>
      </div>
      <app-figma-search fxFill (searchChanged)="onSearchChanged($event)"></app-figma-search>

      <app-figma-chip-employee
        *ngFor="let figma of (figmas | filter: searchText) | slice:0:50"
        [item]="figma"
        (click)="onClickChip(figma)"
      ></app-figma-chip-employee>
    </div>
  </div>
</div>
