
  <h1 translate="">PRIVACY_AGREEMENT.WEBSITE_TERMS_AND_CONDITIONS</h1>
  <!--  <div class="title" translate>PRIVACY_AGREEMENT.AGREEMENT_TO_TERMS</div> -->
  <div class="subtitle">
    <p translate>PRIVACY_AGREEMENT.PARAGRAPH_1</p>
    <p translate>PRIVACY_AGREEMENT.PARAGRAPH_2</p>
    <p class="title" translate>PRIVACY_AGREEMENT.DEFINITIONS</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.DEFINTIONS_PARAGRAPH1</p>
    <p translate>PRIVACY_AGREEMENT.DEFINTIONS_PARAGRAPH2</p>
    <p translate>PRIVACY_AGREEMENT.DEFINTIONS_PARAGRAPH3</p>
    <p class="title" translate>PRIVACY_AGREEMENT.OWNERSHIP</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.OWNERSHIP_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.LICENCE</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.LICENCE_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.COPIES</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.COPIES_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.CONFIDENTIALITY</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.CONFIDENTIALITY_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.LIMITATIONS</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.LIMITATIONS_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.NO_SUB_LICENSING</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.NO_SUB_LICENSING_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.DATA</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.DATA_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.TERMINATION</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.TERMINATION_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.SUPPORT</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.SUPPORT_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.NOT_FAULT_TOLERANT</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.NOT_FAULT_TOLERANT_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.NO_WARRANTIES</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.NO_WARRANTIES_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.EXPORT_RESTRICTIONS</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.EXPORT_RESTRICTIONS_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.LIABILITY_FOR_BREACH</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.LIABILITY_FOR_BREACH_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.INFORMATION_DISCLOSURE</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.INFORMATION_DISCLOSURE_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.APPLICABLE_LAW</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.APPLICABLE_LAW_PARAGRAPH1</p>
    <p class="title" translate>PRIVACY_AGREEMENT.CHOICE_OF_JURISDICTION</p>
    <p class="mt-0" translate>PRIVACY_AGREEMENT.CHOICE_OF_JURISDICTION_PARAGRAPH1</p>
    <p><span class="agreement" translate>PRIVACY_AGREEMENT.AGREEMENT_ACCEPTANCE</span></p>
  </div>

