<div class="figma mt-24" fxFlex fxLayout="column">
  <mat-toolbar class="figma-toolbar">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row " fxLayoutAlign="start center">
        <button
          mat-icon-button
          fxHide.gt-md
          class="responsive-figmas-button mr-16"
          fuseMatSidenavToggler="figma-left"
          aria-label="figmas button"
        >
          <mat-icon>user</mat-icon>
        </button>
        <div class="offline-switch">
          <mat-slide-toggle [(ngModel)]="isEditMode" ngDefaultControl labelPosition="before"
            ><span translate>COMMON.TOGGLE_MODE</span>
          </mat-slide-toggle>
        </div>
      </div>

      <div>
        <div class="actions" fxLayout="row" fxLayoutAlign="start center">
          <div class="p-6">
            <button
              mat-raised-button
              class="accent"
              [disabled]="(formType === 'edit' && !isEditMode) || userForm.invalid"
              (click)="editUser()"
            >
              <span translate>COMMON.SAVE</span>
            </button>
          </div>

          <div class="p-12">
            <button
              [disabled]="formType === 'edit' && !isEditMode"
              mat-raised-button
              class="red-600 secondary-text w-100-p"
              (click)="deleteContact()"
              aria-label="ADD TASK"
            >
              <span translate>COMMON.DELETE</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <div id="figma-content" fxFlex="1 1 auto" fusePerfectScrollbar>
    <div class="figma-messages mr-24">
      <form [formGroup]="userForm">
        <div
          class="dates"
          fxFlexFill
          fxLayout="column"
          fxLayout.gt-xs="row"
          *ngIf="user.type !== 'PROPERTY'"
        >
          <mat-form-field appearance="outline" class="mr-sm-12" fxFlex>
            <mat-label translate>COMMON.FIRST_NAME</mat-label>
            <input
              matInput
              formControlName="first"
              [readonly]="!isEditMode && formType === 'edit'"
            />
            <mat-icon matSuffix class="secondary-text">info</mat-icon>
            <mat-error translate> COMMON.FIRST_ERR </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="ml-sm-12" fxFlex>
            <mat-label translate>COMMON.LAST_NAME</mat-label>
            <input
              matInput
              formControlName="last"
              [readonly]="!isEditMode && formType === 'edit'"
            />
            <mat-icon matSuffix class="secondary-text">info</mat-icon>
            <mat-error translate> COMMON.LAST_ERR </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="title mt-8" fxFill>
          <mat-label translate>COMMON.USERNAME</mat-label>
          <input
            matInput
            formControlName="username"
            [readonly]="!isEditMode && formType === 'edit'"
            required
          />
          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
          <mat-error translate> COMMON.USERNAME_ERR </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="title mt-8" fxFill>
          <mat-label translate>COMMON.PASSWORD</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            [readonly]="!isEditMode && formType === 'edit'"
            required
          />
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error translate> COMMON.PASSWORD_ERR </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p" *ngIf="user.type.toString() === 'PROPERTY'">
          <mat-label>Banner (optionnel)</mat-label>
          <input
            [readonly]="!isEditMode && formType === 'edit'"
            type="text"
            placeholder="{{'COMMON.SELECTION' | translate}}"
            aria-label="Number"
            matInput
            [formControl]="bannerControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="title mt-8"
          fxFill
          *ngIf="user.type === 'PROPERTY'"
        >
          <mat-label translate>COMMON.NAME</mat-label>
          <input matInput formControlName="name" [readonly]="!isEditMode && formType === 'edit'" />
          <mat-icon matSuffix class="secondary-text">info</mat-icon>
          <mat-error translate> COMMON.NAME_ERR </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          class="title mt-8"
          fxFill
          *ngIf="user.type === 'PROPERTY'"
        >
          <mat-label translate>COMMON.ADDRESS</mat-label>
          <input
            matInput
            formControlName="address"
            ngx-google-places-autocomplete
            [options]="mapOptions"
            #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)"
            required
            [readonly]="!isEditMode && formType === 'edit'"
          />

          <mat-icon matSuffix class="secondary-text">info</mat-icon>
          <mat-error translate> COMMON.ADDRESS_ERR </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          class="title mt-8"
          fxFill
          *ngIf="user.type === 'PROPERTY'"
        >
          <mat-label translate>COMMON.SUPERVISOR</mat-label>
          <mat-select formControlName="supervisor" required>
            <mat-option
              *ngFor="let supervisor of supervisors"
              [value]="supervisor._id"
              [disabled]="!isEditMode && formType === 'edit'"
              >{{ supervisor.first }} {{ supervisor.last }}</mat-option
            >
          </mat-select>
          <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
          <mat-error translate>COMMON.SUPERVISOR_ERR</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="title mt-8" fxFill>
          <mat-label translate>CLIENT.SERIAL_NUMBER</mat-label>
          <input
            matInput
            formControlName="deviceSerialNumber"
            [readonly]="!isEditMode && formType === 'edit'"
          />
          <mat-icon matSuffix class="secondary-text">info</mat-icon>
          <mat-error translate> CLIENT.SERIAL_NUMBER_ERR </mat-error>
        </mat-form-field>

        <div class="dates" fxLayout="column" fxLayout.gt-xs="row">

          <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
            <mat-label translate>COMMON.CLIENTS</mat-label>
            <mat-select [value]="selectedClient">
              <mat-option *ngFor="let client of clients" [value]="client._id">{{ client.name | titlecase}}</mat-option>
            </mat-select>
            <mat-icon matSuffix class="secondary-text">ballot</mat-icon>
            <mat-error translate>COMMON.CLIENT_ERR</mat-error>
          </mat-form-field>
        </div>
        <div class="dates" fxLayout="column" fxLayout.gt-xs="row"  *ngIf="user.type === 'PROPERTY'">

          <mat-form-field appearance="outline" class="title mt-8" fxFill>
            <mat-label translate>COMMON.CLIENT_CODE</mat-label>
            <input
              required
              matInput
              formControlName="clientCode"
              [readonly]="!isEditMode && formType === 'edit'"
            />
            <mat-icon matSuffix class="secondary-text">info</mat-icon>
            <mat-error translate> COMMON.CLIENT_CODE_ERR </mat-error>
          </mat-form-field>
        </div>

      </form>
    </div>
  </div>
  <div class="figma-footer ml-28" fxFlex="0 0 auto" fxLayout="column">
    <div *ngIf="!!error" fxLayout="row" fxLayout.gt-xs="row">
      <span class="warn-600"
        >Oooops! Something went wrong. Please try again later {{ error | json }}</span
      >
    </div>
  </div>
</div>
